APScheduler==3.6.3
backports-abc==0.5
certifi==2021.10.8
cffi==1.15.1
cryptography==2.8
decorator==4.4.2
pycparser==2.21
python-telegram-bot==13.1
pytz==2022.7.1
six==1.16.0
tornado==5.1.1
tzlocal==2.1
